
@import "reset.scss";
@import "html5boilerplate.scss";
@import "mixins.scss";
@import "palette.scss";

@import url('http://fonts.googleapis.com/css?family=Raleway:700,400,300');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext');



body{
  background: #bfc0c0;
  font-family: 'Raleway','Open Sans',sans-serif;
}
h1{
  font-size:3em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.666em;
}
h4{
  font-size:1.333em;
}
a{
  text-decoration: none;
  color:white;
  text-shadow: 1px 1px #bfc0c0;
}
.page-container{
  position: relative;
  width:100%;
  max-width: 2356px;
  margin:0 auto;
  @include border-box;
}
.superheader{
  h1{
    font-size: 5em;
    font-weight: 700;
  }

  span{
    font-style: italic;
    font-size: 200%;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
  background-color: #eee;
  position: relative;
  transition: all 0.50s ease-in-out;
  z-index: 999;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, .5);
  @include border-box;


  .container{
    margin:64px 128px;
  }
  :nth-child(2){
    max-width: 48%;
    margin:0 auto;
  }

  :last-child{
    margin-top:0;
    padding-top:0;
    margin-bottom:0;
    padding-bottom:0;
    position: relative;
    z-index: 9999;
  }
}

.superheader.super-collapse > .container{
  margin-top: 3rem;
  top:20%;
}


.superheader::after{
  content:" ";
  clear:both;
  z-index: 1;
}
.blueprint-grid{
  background-color: #4e9ad5;
  background-image:
linear-gradient(to left, rgba(255, 255, 255, 0.4) 2px, transparent 2px),
linear-gradient(to bottom, rgba(255, 255, 255, .2) 2px, transparent 2px),
linear-gradient(to left, rgba(255, 255, 255, .2) 2px, transparent 2px),
linear-gradient(to bottom, rgba(255, 255, 255, .2) 2px, transparent 2px);
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  z-index: 10;
  @include border-box;
}
.centered{
  margin:0 auto;
  text-align: center;
}

.panel{
  margin:1em;
  padding:12px;

}
.thumbnail {
  max-width: 320px;
  max-height: 320px;
}

.navbar{
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  color: #777;
  width: 100%;
  transition: top 0.2s ease-in-out;

  .navbar-brand{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;

  }
  .up{
    top:-40px;
  }

}

.block{
  z-index: 50;
  padding: 0.25em;
  font-size: 1em;

}
.block-one {
  background-color: $darkerGrau;
  color:$wit;
}
.block-two{
  color: $darkGrau;
  background: $grayblau;
}
.block-three{

  color:$wit;
  background-color:$rot
}
.panel-heading ~ .panel-body>p{
  margin-bottom: 6px;
  border-top: 2px solid $grau;
  padding:12px;
}
.row{
  margin-right: -15px;
  margin-left: -15px;
  .col{
    float: left;
  }
  .col-third{
    float: left;
    width: 33.33333333%;
  }

}

.hidden-section{
  opacity: 0;
  display: none;
}
.visible-section{
  opacity: 1;
  display:block;
}

.button{
  line-height: 1.3333333;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

}
.button::before{
  // margin:12px;
  content:" ";
}

.large{
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 6px;
  line-height: 1.42857143;
}

.group{
  @include group-clearfix;
}
//put group on parent of floated elements for clearfix/collapse prevent
#quincy{


}

#extended-content{
  color: #BFc0c0;
  background: #4F5D75;
  transition: all 0.5s ease;
}

 div.container.group.block-one ~ div.generic.container.btn{
  margin:22px;
}

@media screen and(max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .page-container{
    max-width: 750px;
  }
}

@media screen and(max-width: 960px) {
  .container {
    max-width:1380px;
  }
  .page-container{
    max-width:1440px;
  }
}
